body {
  background-color: #f8e8a6;
  text-align: center;
}

h1 {
  font-size: 65px;
  font-family: "Caveat", cursive;

  margin-bottom: 15px;
}

img {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
p {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

a {
  padding: 0 15px;
  color: green;
  font-size: 18px;
}
